*{
        

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;

}
body{
        margin: 0;
        background-color: black;
        color: azure;
        /* for scrolling overflow */
        overflow: hidden;
}
.main{
        display: flex;
        height: 100vh;
        padding:.5rem

}
.sidebar{
       background-color:black;
       width: 320px;
       border-radius: 16px /*1 rem=16px*/;
       margin-right: 0.25rem;
}
.main-content{
        background-color: #121212;
        flex: 1;
           border-radius: 16px /*1 rem=16px*/;
           overflow: auto;
           padding: 0 1.5rem 0 1.5rem;
}
.music{
        background-color:black;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 40px;
         
}
a{
        text-decoration: none;
        color:white;
}
.nav{
        background-color: #121212;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100px;
        padding: 0.5rem 0.75rem;
}
.nav-option{
        line-height: 2.5rem;
        opacity: 0.5;
        padding: .5rem;

}
.nav-option:hover{
        opacity: 1;
}
.nav-option i{
        font-size: 1.25rem;

}
.nav-option a{
        font-size: 1rem;
        margin-left: 1rem;
}
.library{
        background-color: #121212;
        border-radius: 1rem;
        height: 100%;
        margin-top: .5rem;
        padding: 0.5rem 0.75rem;

}
.options{
        display: flex;
        justify-content: space-between;
}

.lib-option img{
        height: 1rem;
        width: 1rem;

}
.icons{
        font-size: 1rem;
        margin-top:1rem ;
        opacity:0.75;
        
        margin-right: 1rem;
        display: flex;
}
.icons i:hover{
        opacity: 1;
}
.box{
        height: 130px;
        background-color: #232323;
        border-radius: 1rem;
        margin: 0.5rem 0 0.5rem 0;
        padding: .75rem 1.25rem;
}
.box-para1{
        font-size: 0.85rem;
        font-weight: 500;

}
.box-para2{
        font-size: .85rem;
        opacity: 0.75;
}
.badge{
        background-color: white;
        border: none;
        border-radius: 100px;
        padding: 0.25rem 1rem;
        font-weight: 700;
        margin-top: 0.5rem;
        height: 2rem;
        width: fit-content;
}
.sticky-nav{
        position:sticky;
       top: 0;
       background-color: #121212;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem 0;
       z-index: 10;
}
.sticky-nav-options{
        display: flex;
        justify-content: center;
        margin-left: 0.5rem;
}
.dark-badge{
        background-color: #121212;
        color: white;
}

.card{
        background-color: #232323;
        width: 150px;
        border-radius: 0.5rem;
        padding: 1rem  1rem;
        margin-left: 1.5rem;
        margin-top: 1rem;
}
.card-container{
        display: flex;
        flex-wrap: wrap;
}
.card-img{
        width: 100%;       
        border-radius: 0.5rem;
}
.card-title{
        font-weight: 600;
}
.info{
        font-size: 0.75rem;
        opacity: 0.6;

}
.footer{
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

}
.line{
        width: 90%;
        height: 30%;
        border-top: 1px solid white;
        opacity: 0.4;
}
.music{
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.song-name{
        width: 13%;
}
.album{
        width: 12%;
        /* background-color: red; */
}
.player{
        width: 50%;
        /* background-color: pink; */
}
.control{
        width: 25%;
        /* background-color: orange; */
}
 .plyer-control-size{
        height: 0.7rem;
           margin-left: 2rem;
           opacity: 0.7;
 }
 .plyer-control-size:hover{
        opacity: 1;
 }
 .player-control{
          display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.3rem;
      
 }
 .prog-control{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.2rem;
 }
 .prog-bar{
        width: 70%;
        height: 0.2rem;
        appearance: none;
        background-color: transparent;
        cursor: pointer;
 }

 .prog-bar::-webkit-slider-runnable-track{
        background-color: #ddd;
        border-radius: 100px;
        height: 2px;
        
 }
 .prog-bar::-webkit-slider-thumb{
        appearance: none;
        background-color: #1bd760; ;
        height: .75rem;
        width: 0.75rem;
        border-radius: 50%;
        margin-top: -5px;
 }
 .lstbar{
        width: 25%;
        height: 0.2rem;
        appearance: none;
        background-color: white;
      
 }
 .control{
          display: flex;
      align-items: center;
      justify-content: center;
   
 }
.lstbar::-webkit-slider-runnable-track{
          background-color: #ddd;
        border-radius: 100px;
        height: 2px;

}
.lstbar::-webkit-slider-thumb{
        appearance: none;
}
.lsticon{
    justify-content: space-between;
   
}
.icon{
 margin-left: 0.5rem;
}
.fsticon{
 margin-left: 1rem;
}